body {
    display: flex;
    flex-direction: column;
}

/* NAV */

body #nav {
    flex-grow: 0;
    height: 40px;
    background-color: var(--main-dark-color);

    display: flex;
    flex-direction: row;
}

#nav #title {
    flex-grow: 2;

    display: flex;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;

    margin-left: 5px;

    -webkit-app-region: drag;
}

#nav #title #quick {
    color: white;
}

#nav #title #note {
    color: #45C48B;
}


#nav #quit-application-button {
    flex-grow: 0;
    width: 40px;
    background-color: #F46042;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

#nav #quit-application-button:hover {
    background-color: #FF8246;
    cursor: pointer;
}

/* DIVIDER */

body #divider {
    flex-grow: 0;
    height: 1px;
    background-color: black;
}

/* MAIN */

body #main {
    flex-grow: 2;
    background-color: white;

    display:flex;
    flex-direction: row;
}

#main #note-menu {
    flex-grow: 0;
    flex-shrink: 1;

    display:flex;
    flex-direction: column;

    width: 250px;

    border-right: 1px solid var(--main-dark-color);
}

#main #note-display {
    flex-grow: 2;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    margin-left: 10px;
    margin-right: 10px; 

}

#note-display #note-display-title {
    flex-grow: 0;
    flex-shrink: 0;
    height: 50px;
    border-bottom: 1px solid #BDBDBD;
}

#note-display-title h1 {
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    letter-spacing: 1px;
    user-select: none;
    font-size: 1.5em;
}

#note-display #note-display-content {
    flex-grow: 2;
    flex-shrink: 1;
    height: 300px;
}

#note-display #note-display-actions {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20px;
}

#note-menu #add-note-button{
    display:flex;
    flex-direction: row;
    align-items: center;

    flex-shrink: 0;
    height:50px;
    background-color: #08B3BD;
    border-bottom: 1px solid #BDBDBD;

    color:white;

    cursor: default;
}

#note-menu #add-note-button:hover {
    background-color: #0ADEEB;
    cursor: pointer;
}

#add-note-button i {
    margin-left: 15px;
}

#add-note-button span {
    margin-left: 15px;
    font-size: 1.5em;

    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    letter-spacing: 1px;
    user-select: none;
    cursor: default;
}

#add-note-button span:hover {
    cursor: pointer;
}

#note-menu #note-sidebar {
    flex-grow: 2;
    
    overflow-y: scroll;
}

#note-sidebar #note-entry{
    height: 50px;

    background-color: var(--main-dark-color);
    color: white;
    border-bottom: 1px solid #BDBDBD;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#note-sidebar #note-entry:hover {
    background-color: #4E5666;
    cursor: pointer;
}

#note-entry #note-title {
    flex-grow: 2;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    margin-left: 5px;
}

#note-title p {
    font-family: 'Slabo 27px', serif;
    font-size:1.3em;

    width: 230px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#note-display-content {
    overflow-y: scroll;
}